/**
* TODO: 
*    - inconsistenza sui nomi delle classi;
*    - perché hai usato i `px`? Che differenza c'è tra `px`, `rem` e `em`? E cosa ci consiglieresti di utilizzare
*   - `#f4f4f4` quante volte lo ripeti? Che alternative abbiamo all'utilizzo del hex?
*/

/* display */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* flex */

.flex-basis-50 {
  flex-basis: 50%;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.gap-16 {
  gap: 16px;
}

// text

.text-center {
  text-align: center;
}

/* padding */

.padding-page {
  padding: 0 40px;
}

/* bordi */

.border {
  border: solid black;
  border-width: 1px;
}

.background-gray {
  background-color: #f4f4f4;
}
