/* margin */

.mt-1 {
    margin-top: 30px;
}

/* display */

.d-none {
    display: none;
}

/* flex */

.flex {
    display: flex;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

// text

.text-center {
    text-align: center;
}

/* padding */

.py-1 {
    padding: 5px;
}

.ps-1 {
    padding-left: 5px;
}

.padding-page {
    padding: 16px 40px;
}

/* bordi */

.border {
    border: solid black;
    border-width: 1px;
}

.border-bottom {
    border-width: 0 0 1px 0;
}

.border--right--0 {
    border-right: 0;
}

.border--bottom-0 {
    border-bottom: 0;
}

.background-gray {
    background-color: #F4F4F4;
}